WHATSAPP_PERMANENT_TOKEN=EAAlbxe42UBwBPB583mFV5rUr0f4i9jPbGlZCwmZAwYyc1fGJyA0wqB6pD7cxvKVrN5tceFdygwn84WeeDZBZCsD2ZC1Rbk7321ACcbPmBduZBY19xXZCGpOh5Hmz3wVon vnSqASqRvdbMvntHiqReXxmMZAQszNRzJcKXmwm4ASHYREOsbsCJXuTScwYjN4fhH8ZAOQZDZD
WHATSAPP_PHONE_NUMBER_ID=744540948737430
WHATSAPP_BUSINESS_ACCOUNT_ID=752435584083272
WHATSAPP_WEBHOOK_VERIFY_TOKEN=ammwag_webhook_2024
WHATSAPP_APP_SECRET=bde6d09b706496ceb34352ce56f518df
WHATSAPP_API_VERSION=v23.0
WHATSAPP_ENVIRONMENT=production
NEXT_PUBLIC_BASE_URL=https://wp.dreamto.app 